<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/javascript .mjs
</IfModule>

# Esto ayuda a que las rutas de la app (SPA) no den 404
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /agenda/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /agenda/index.html [L]
</IfModule>