<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/javascript .mjs
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  # Esto asegura que si el archivo EXISTE (como login.html), el servidor lo entregue y no redireccione
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # Solo si el archivo NO existe, podrías mandarlo al index (opcional)
  # RewriteCond %{REQUEST_FILENAME} !-f
  # RewriteCond %{REQUEST_FILENAME} !-d
  # RewriteRule . /agenda/index.html [L]
</IfModule>